
.NumAndOpButtons {
  display:inline-grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
}

.CandCEButtons{
  display:inline-grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 5px;
}

.AccessoryButtons{
  display: inline-grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 5px;
}

.Calculator{
  /* Grid */
  display: inline-grid;
  grid-template-columns: auto;
  row-gap: 5px;

  /* Making Border and Background Color */
  border: 7px solid black;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  background-color: pink;
  box-shadow: 5px 10px;

  /* Centering on Screen */
  position: fixed;
  top: 25%;
  left: 41.5%;
}

.App{
  background-color: aqua;
}